.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid green;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.InputElement:focus {
    outline: none;
    background-color: oldlace;

}